@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One&display=swap');
@import '/node_modules/react-modal-video/scss/modal-video.scss';
@import '/node_modules/react-input-range/lib/css/index.css';

.transition {    
  -webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #E50914;
}


.main {
  width: 70%;
}

body {
  background-color: black;
  color : white;
}

.logo {
  width : 120px;
}

.card {
  margin : 10px;

}

.card-title {
  margin-bottom: .6rem;
}

.text-muted {
  margin-bottom: 3px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #00000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #E50914;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #E50914;
}

.overlay {
  position: relative;
}

.header {
  width : 85%;
  position: relative; 
}
      
figure.overlay figcaption {    
  position: absolute;    
  width: 100%;    
  top: 0;  
  /**text, adjust all values as desired**/    
  padding: 25% 50% 0 2%;    
  font-weight: 700;    
  color: white;  
  /**some fallback value**/    
  font-size: 1vw;  
  /**responsive size is roughly 3.4%  of the device's viewport width**/    
  
  }

  figure.overlay figcaption > h1 {
    font-size: 4vw; 
    font-family: 'Alfa Slab One', cursive; 
  }

  .scroll {
    height: 225px;
    overflow-y: scroll;
  }

  p {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.range {
  width : 40%;
  margin-bottom : 20px;

}
/* modal video  */

@keyframes modal-video{from{opacity:0}to{opacity:1}}
@keyframes modal-video-inner{from{transform:translate(0, 100px)}to{transform:translate(0, 0)}}


@media (min-width: 60em) {
  #modal {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    height:75%;
    margin:5% auto;
    max-height: 50em;
     max-width:60em;
     width:85%;
    
  }

}
